@page
@model Mission09_dh.Pages.CartModel
@{
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    @*some bootstrap fancy stuff*@
    <style>
        tr:nth-child(odd) {
            background-color: pink;
        }

        tr:nth-child(even) {
            background-color: aquamarine;
        }
    </style>

    @*head of the table*@
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    @*loop through each item in cart*@
    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>@i.Book.Price</td>
                <td>@(i.Quantity * i.Book.Price)</td>
            </tr>
        }
    </tbody>

    @*calculate the bottom of the table*@
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>

</table>

@*go back to the previous page to keep shopping*@
@*added some special button from bootstrap, a btn-warning button*@
<div>
    <a class="btn btn-warning" href="@Model.ReturnUrl">Continue Shopping</a>
</div>