@{
}


@model Book

@*list the books on this page*@
<div class="card card-outline-primary m-1 p-1">

    <div class="bg-faded p-1">

        <h4>
            @*list title*@
            @Model.Title

            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>

        </h4>

    </div>

    <div class="card-text p-1">

        @*add the book info*@
        <ul>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>isbn: @Model.Isbn</li>
            <li>Classification: @Model.Classification</li>
            <li>Category: @Model.Category</li>
            <li>Number of Pages: @Model.PageCount</li>
        </ul>

    </div>

    @*form/button to go to the cart*@
    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnurl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-danger btn-sm float-end" style="float:right">Add to Cart</button>
        </span>

    </form>

</div>